
            <!-- Footer -->
              <section id="footer">
                <ul class="icons">
                  <li><a href="mailto:{{site.author.email}}" class="fa-envelope"><span class="label">Email</span></a></li>
                  <li><a href="https://www.linkedin.com/in/kirill-burovin-51681a18b/" class="fa-linkedin-square"><span class="label">LinkedIn</span></a></li>
                  <li><a href="https://github.com/{{site.author.github_username}}" class="fa-github"><span class="label">GitHub</span></a></li>
                  <li><a href="https://telegram.me/{{site.author.telegram_name}}" class="fa-paper-plane"><span class="label">Telegram</span></a></li>                  
                </ul>
               
